@import '../styles/mixins';

.basicButton {
  background-color: $primary-500;
  border-radius: .2rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  width: fit-content;
}

.smallButton {
  font-size: 0.6em;
  letter-spacing: 0.08rem;
  padding: 0.6rem 1rem;

  svg {
    height: 1rem;
    width: auto;
  }
}

.mediumButton {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  padding: 0.6rem 2rem;
}

.basicButton:hover {
  text-decoration: none;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
}
