@import '../styles/mixins';

.thumb {
  $size: 6rem;
  height: $size;
  min-width: $size;
  width: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  @media (max-width: $medium-breakpoint) {
    $size: 4rem;
    height: $size;
    min-width: $size;
    width: $size;
  }
}

.tumbImage {
  height: 100%;
  max-width: unset;
  width: auto;
}

.numberColumn {
  text-align: right;
}

.productQuantity {
  width: 4rem;
}

.actionsColumn > * {
  margin-left: auto;
}
