@import '../styles/mixins';

.productWrapper {
  display: flex;

  @media (max-width: $medium-breakpoint) {
    flex-direction: column;
  }
}

.productImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.productImage::before {
  content: "";
  display: block;
  padding-top: 75%;
  width: 100%;
}

.productInfo {
  margin: 2rem;
}

.productTitle {
  color: $primary-500;
  margin: 0;
}

.productDescription {
  margin: 1rem 0;
}

@media (max-width: $medium-breakpoint) {
  .productWrapper {
    flex-direction: column;
  }

  .productInfo {
    margin: 1rem;
  }

  .productImage {
    width: 100%;
  }
}
