@import './mixins';

.cardWrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  @media (max-width: $small-breakpoint) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  transition: box-shadow .3s ease-in-out;
}

.cardLarge {
  @extend .card;

  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  cursor: auto;
}

.card:not(.cardLarge):hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  text-decoration: none;
}

.cardMedia {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 66.666%;
  }
}

.cardPrimary, .cardActions {
  margin: 1rem;
}

.cardActions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.cardTitle {
  font-weight: 700;
  margin: 0;
}

.cardText {
  font-size: 0.8rem;
}
