@import './mixins';

:root {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $tertiary-500;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: $footer-height;
}

footer {
  height: $footer-height;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: $primary-700;
  color: $tertiary-500;
}

* {
  box-sizing: border-box;
}

a {
  color: $primary-500;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
