:root {
  --primary-500: #CA2627;
  --primary-700: #611311;
  
  --secondary-500: #ECA442;
  --tertiary-500: #A5A79A;
  
  --border-color: #CCC;
  
  --header-height: 56px;
  --footer-height: 80px;
  --viewport-width: 1280px;
  
  --small-breakpoint: 480px;
  --medium-breakpoint: 840px;
  --large-breakpoint: 1280px;
  
  --font-family: 'Montserrat', sans-serif;
}
