@import './mixins';

.container {
  max-width: $viewport-width;
  padding: 0 1rem;
  margin: 2rem auto;
}

.headingXl {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;

  @media (max-width: $medium-breakpoint) {
    font-size: 3rem;
  }
}

.headingLg {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.4;
  margin: 0;
}

.headingMd {
  font-size: 1.2rem;
  font-weight: 700;;
  line-height: 1.5;
  margin: 0;
}

.headingSm {
  font-size: 1rem;
  font-weight: 600;;
  line-height: 1.5;
  margin: 0;
}

.caption {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.body {
  font-size: 1rem;
  font-weight: 400;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.colorPrimary500 {
  color: $primary-500;
}

.colorPrimary700 {
  color: $primary-700;
}

.lightText {
  color: #999;
}

.mainHeadingWrapper {
  min-height: 280px;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mainHeadingWrapper::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: $primary-700;
  opacity: 0.5;
}

.mainHeading {
  color: $secondary-500;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 0 $primary-700;
}

.formActions {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  justify-content: flex-end;

  @media (min-width: $small-breakpoint) {
    *:not(:first-child) {
      margin-left: 1rem;
    }
  }

  @media (max-width: $small-breakpoint) {
    flex-direction: column;

    * {
      width: 100%;
      margin: 0.5rem 0;
    }
  }
}

.flexWrapper {
  display: flex;
  align-items: flex-start;

  > * {
    flex-grow: 1;
    width: 100%;
  }

  @media (max-width: $medium-breakpoint) {
    flex-direction: column;
  }
}

.flexWrapper .customerInfo:last-child {
  flex-grow: 0;
  margin-top: 0;
  margin-left: 1rem;
  padding: 1rem;
  width: 30%;
  
  @media (max-width: $medium-breakpoint) {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  h3 {
    margin: 1rem;
  }

  p {
    text-align: center;
  }
}

.modalActions {
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  button:not(:first-child) {
    margin-left: 1rem;
  }
}
