@import './mixins';

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.cardWrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  @media (max-width: $small-breakpoint) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.list {
}

.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.cardMedia {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 66.666%;
  }
}

.cardPrimary {
  padding: 1rem;
}

.lightText {
  color: #999;
}